$primary-color: #69ceff;
$black-color: #000;
$white-color: #fff;

$button-color: #0b84bc;
$button-color-1: #5357b6;

$border-color: #f2f4f7;
$border-color-1: #d0d5dd;
$border-color-2: #f8f8f8;
$border-color-3: #8b8b8b;
$border-color-4: #dbdbde;
$border-color-5: #e7e7e9;
$border-color-6: #e9ebf0;
$border-color-7: #d3d3d3;

$footer-logo: #f2f4f7;
$green-color-1: #e0f2eb;
$green-color-2: #027a48;

$text-color: #4e4e4e;
$text-color-1: #344054;
$text-color-2: #303030;
$text-color-3: #0d0c22;
$text-color-4: #6e6d7a;
$text-color-5: #334253;
$text-color-6: #67727e;
$text-color-7: #000000bd;

$footer-text: #c5c5c5;

$input-color: #ebf8fe;
$checkbox-color: #e3dedeb8;
$checkbox-text: #676767;

$nav-color: #e4e4e4;

$red-color: #fb4343;
$red-color-1: #ed6368;

$surface-color: #f5f5f5;
$surface-color-1: #e3dede;
$surface-color-2: #ffecba;
$surface-color-3: #f0f0f0;

$card-color: #fcfcfc;

$like-color: #f24e1e;

$orange-color: #ffab00;
